.col-md-8.pull-right#tweets
  .panel.panel-default
    .panel-heading
      = button_tag 'Show my timeline', id: 'show_timeline', class: 'btn btn-primary btn-lg pull-right'
      %h3 Tweets
    - @user_tweets.each do |t|
      .panel-heading
        .media-top.media-left
          = image_tag t.user.profile_image_url_https, class: 'media-object'
        .media-body
          %strong
            = "@#{t.user.screen_name}"
          %time
            = time_ago_in_words t.created_at
            ago
          %br
          %tweet-text
            = auto_link(t.text).html_safe