.container
  .col-md-4.pull-left
    .panel.panel-default
      .panel-heading
        = image_tag current_user.profile_image_url, class: 'img-responsive center-block'
      .panel-body
        .container
          %name
            = current_user.name
          %br
          %location
            = current_user.location
  - if @user_tweets.empty?
    .col-md-8.pull-right#no_tweets
      .panel.panel-default
        .panel-heading
          = button_tag 'Show my timeline', id: 'show_timeline', class: 'btn btn-primary btn-lg pull-right'
          %h1 Post your first tweet!
          = link_to 'Tweet', new_tweet_path, class: 'btn btn-primary'
  - else
    = render 'my_tweets'
  = render 'timeline'
