.container
  .col-md-4.pull-left
    .panel.panel-default
      .panel-heading
        = image_tag current_user.profile_image_url, class: 'img-responsive center-block'
      .panel-body
        .container
          %name
            = current_user.name
          %br
          %location
            = current_user.location
          .stats
            .table
              .tr
                .col-lg-1
                  %stat-name
                    %td FOLLOWING
                  %stat-number
                    = current_user.friends_count
                .col-lg-1
                  %stat-name
                    %td FOLLOWERS
                  %stat-number
                    = current_user.followers_count
                .col-lg-1
                  %stat-name
                    %td TWEETS
                  %stat-number
                    = current_user.statuses_count
  - if @user_tweets.empty?
    .col-md-8.pull-right#no_tweets
      .panel.panel-default
        .panel-heading
          = button_tag 'Show my timeline', id: 'show_timeline', class: 'btn btn-primary btn-lg pull-right'
          %h1 Post your first tweet!
          = link_to 'Tweet', new_tweet_path, class: 'btn btn-primary'
  - else
    = render 'my_tweets'
  = render 'timeline'
