.container
  .col-md-4.pull-left
    .panel.panel-default
      .panel-heading
        = image_tag current_user.profile_image_url, class: 'img-responsive center-block'
      .panel-body
        .container
          %name
            = @user.name
          %br
          %location
            = @user.location
  - if @tweets.nil?
    %p Post your first tweet!
    = link_to 'Tweet', new_tweet_path, class: 'btn btn-default'
  - else
    = render 'my_tweets'
  = render 'timeline'
